version: "3.8"

services:
  web:
    build: .
    container_name: empleatec_web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: mysql:8.0
    container_name: empleatec_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: empleatec
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./database/empleatec.sql:/docker-entrypoint-initdb.d/empleatec.sql

volumes:
  db_data:
