version: "3.8"

services:
  web:
    build: .
    container_name: empleatec_app
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: empleatec_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: empleatec
      MYSQL_USER: empleatec
      MYSQL_PASSWORD: empleatec
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
